@use "../utilities/truncate-text";

.main-header {
	height: var(--main-header-height);
	background-color: var(--color-main-background);
	color: var(--color-header-text);
	z-index: 1000;
	box-shadow: var(--elevation-01);
	min-width: 0;

	display: flex;
	align-items: center;	

	gap: 16px;
	padding: 12px 20px;

	&_main-title {
		font-size: 1.7rem;
		font-weight: 700;
		letter-spacing: 1px;
		color: var(--color-logo);
	}

	&_section-title {
		font-size: 1.25rem;
		color: var(--color-page-text);		
	}

	&_logo {
		color: var(--color-logo);
		font-size: 2.1rem;
		margin-right: 8px;
	}

	&_back-button {
		color: inherit;
		display: flex;
		align-items: center;
		margin-right: 12;
	}

	&_contact {
		display: flex;
		gap: 16px;
	}

	&_info {
		display: flex;
		flex-direction: column;
	}

	&_name {
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--color-header-text);		
	}

	&_last-time {
		font-size: 0.9rem;
		color: var(--color-secondary-text);
		width: 100%;
	}
}
