.new-message-form {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;
	max-height: fit-content;
	background-color: var(--color-chat-background);
	padding: 0.5rem 1rem;

	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;

	&_input {
		color: inherit;
		border: none;
		border-radius: 0.625rem;
		padding: 0.5rem 1rem;
		margin-right: 1rem;
		resize: none;
		width: 100%;
		background-color: var(--color-input-background);
		border: 1px solid var(--color-stroke-subtle);     
		box-shadow: var(--elevation-02);
		&::placeholder {
			color: var(--color-secondary-text);
		}
		&:focus {
			outline: solid 1px var(--color-input-stroke-focus);
			&::placeholder {
				opacity: 0;
			}
		}
	}

	.btn-send {
		padding: 0;
		font-family: inherit;
		color: var(--color-main-text);
		background-color: var(--color-button-background);
		width: 4rem;
		height: 4rem;
		border: none;
		border-radius: 50%;
		box-shadow: var(--elevation-02);
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			scale: 110%;
		}
	}
}
