.theme-toggle {
	width: 2.5rem;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.7rem;
	padding: 0.5rem 0.75rem;
	border-radius: 50%;
	transition: background-color 0.2s;	

	&:hover {
		background-color: var(--color-item-hover);
		outline: none;
	}

	.theme-toggle__icon {
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
