.message {
	color: var(--color-main-text);
	width: fit-content;
	min-width: 200px;
	max-width: 40%;
	display: grid;
	column-gap: 16px;
	padding: 16px;
	box-shadow: var(--elevation-02);
	text-align: left;
	border-radius: 8px;
	word-break: break-all;
	position: relative;

	// User type
	&.contact {
		background-color: var(--color-message-background-contact);
	}
	&.me {
		background-color: var(--color-message-background-user);
		align-self: end;
	}

	&_data {
		align-self: end;
		justify-self: end;
		.message_time {
			align-items: end;
			font-size: 12px;
			color: var(--color-data-text);
			margin-right: 4px;
		}
	}

	&_status {
		// message status
		&.seen {
			color: var(--color-status-read);
		}
		&.not-seen {
			color: var(--color-status-unread);
		}
		&.not-received {
			color: var(--color-status-unread);
		}
	}

	&_btn-delete {
		position: absolute;
		top: 30%;
		left: -25px;
		background-color: transparent;
		border: none;
		padding: 4px;
		font-size: 12px;
		opacity: 0;
	}
}

// Delete button visible on hover
.message:has(.message_btn-delete) {
	cursor: pointer;
	&:hover .message_btn-delete {
		opacity: 1;
	}
}

@media screen and (min-width: 1920px) {
	.message {
		min-width: 10.42vw;
		column-gap: 0.83vw;
		padding: 0.83vw;
		box-shadow: 0.05vw 0.05vw 0.26vw 0vw rgba(0, 0, 0, 0.25);
		border-radius: 0.42vw;
	}
	.message_data .message_time {
		font-size: 0.63vw;
		margin-right: 0.21vw;
	}
	.message_btn-delete {
		left: -1.3vw;
		padding: 0.21vw;
		font-size: 0.63vw;
	}
}
