.message {
	color: var(--color-main-text);
	width: fit-content;
	min-width: 12.5rem;
	max-width: 40%;
	display: grid;
	column-gap: 1rem;
	padding: 1rem;
	box-shadow: var(--elevation-02);
	text-align: left;
	border-radius: 8px;
	word-break: break-word;
	position: relative;

	// User type
	&.contact {
		background-color: var(--color-message-background-contact);
	}
	&.me {
		background-color: var(--color-message-background-user);
		align-self: end;
	}

	&_data {
		align-self: end;
		justify-self: end;
		.message_time {
			align-items: end;
			font-size: 0.75rem;
			color: var(--color-message-secondary-text);
			margin-right: 0.25rem;
		}
	}	

	&_status {
		// message status
		&.seen {
			color: var(--color-status-read);
		}
		&.not-seen {
			color: var(--color-status-unread);
		}
		&.not-received {
			color: var(--color-status-unread);
		}
	}

	&_btn-delete {
		position: absolute;
		top: 30%;
		left: -1.5rem;
		background-color: transparent;
		border: none;
		padding: 0.25rem;
		font-size: 0.75rem;
		opacity: 0;
	}
}

// Delete button visible on hover
.message:has(.message_btn-delete) {	
	&:hover .message_btn-delete {
		opacity: 1;
		cursor: pointer;
	}
}