.contact-list { 
    padding: 0.5rem;   

	&_search-bar{ 
        position: relative;
            

        &_input{
            color: inherit;
            border: none;
            border-radius: 0.625rem;
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            width: 100%;
            background-color: var(--color-input-background);
            border: 1px solid var(--color-stroke-subtle);      
                   
            font-size: 1rem;
            padding-left: 3rem;         
                       
            &::placeholder {
                color: var(--color-secondary-text);
            }
            &:focus {
                outline: solid 1px var(--color-input-stroke-focus);
                &::placeholder {
                    opacity: 0;
                }
            }
        }
    }

    .search-icon {
        position: absolute;
        top: 0.4rem;
        left: 1rem;
        color: var(--color-secondary-text);
        font-size: 1.1rem;
        pointer-events: none;
    }
}
