:root {    
  --color-brand-100: #dcf8c6;
  --color-brand-200: #d8fcd2;
  --color-brand-400: #25d366;
  --color-brand-500: #128c7e;
  --color-brand-800: #075e54;
  --color-brand-900: #111b21;

  --color-accent-100: #53bdeb;
  --color-accent-300: #53bdeb;
  
  --color-white: #ffffff;
  --color-black: #000000;

  --color-neutral-100: #f8f9fa;
  --color-neutral-200: #ece5dd;
  --color-neutral-300: #f5f4f2;
  --color-neutral-400: #c7c2bb;
  --color-neutral-450: #636261;
  --color-neutral-500:#3b4a54;   
}

.dark-theme {
  :root {
      
  }    
}