:root {

    //Text
    --ff-base: "helvetica", "arial", sans-serif;
    --color-font-base: var(--color-brand-900);
    --fs-base: 16px;
    --lh-base: 1.5;
    --fw-base: 400; 

    //Main sizes: 
    --header-height: var(--size-xxxl); 

}

