.contact-image_container {
    display: flex; 
    justify-content: center;
    flex-shrink: 0;
    width: var(--size-4xl);
    height: var(--size-4xl);
    border-radius: 50%;
    object-fit: cover;    
    border: 2px solid var(--color-brand-400);    
    overflow: hidden;       
}  

.contact-image_img {
  scale: 105%;
}

a:has(.contact-image_container) {
   cursor: pointer;
}