@use "sass:color";

.contact-detail {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100dvh;
	background-color: var(--color-main-background);

	.main-header {
		background-color: transparent;
		padding-bottom: 0;
		box-shadow: none;

		&_back-button {
			color: var(--color-page-title);
		}
	}

	main {		
		overflow-y: auto;
		max-width: unset;
		padding-inline: 0.75rem;

		@media screen and (min-width: 700px) {			
			max-width: 70%;
		    margin-inline: auto;
		}
	}

	&_main-info {
		width: 100%;
		color: var(--color-page-title);

		display: flex;
		flex-direction: column;
		align-items: center;

		.contact-image_container {
			width: 6.25rem;
			height: 6.25rem;
		}

		&_name {
			font-size: 1.7rem;
			font-weight: 700;
			color: var(--color-page-title);
			margin-bottom: 0.5rem;
		}

		&_phone-number {
			font-size: 1rem;
			color: var(--color-secondary-text);
			font-weight: 600;			
		}

		&_last-time {
			font-size: 0.9rem;
			color: var(--color-secondary-text);			
		}
	}

	&_actions {
		display: grid;
		grid-template-columns: repeat(3, minmax(4rem, 9.375rem));
		justify-content: center;
		gap: 0.5rem;
		padding: 1rem;

		button {			
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			border-radius: 0.5rem;
			border: solid 1px var(--color-stroke-subtle);			
			background-color: inherit;
			cursor: pointer;
			transition: all ease 0.2s;
			&:hover {
				transform: translateY(-5%);
			}
			> i {
				color: var(--color-button-outline);
			}
		}
	}

	.section {
		padding: 1rem;
		background-color: var(--color-profile-section-background);
		margin-bottom: 0.5rem;
		border-radius: 0.5rem;

		span {
			font-size: 0.9rem;	
			color: var(--color-secondary-text)		
		}

		&_item {
			padding-block: 1rem;
			cursor: pointer;
			transition: all ease 0.2s;

			> i {
				margin-right: 1rem;
			}
			&:hover {
				color: var(--color-button-outline)
			}
		}
	}
	
}
