.contact-detail {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;

    .main-header {
        background-color: transparent;
        padding-bottom: 0;

        &_back-button {
            color: var(--color-brand-800);
        }
    }

    main {
        padding-inline: 1rem;
    }

    &_info {
        width: 100%;
        color: var(--color-brand-800);

        display: flex;
        flex-direction: column;
        align-items: center;

        .contact-image_container {
            width: 100px;
            height: 100px;
        }

        &_name {
            font-size: 1.7rem;
            font-weight: 700;
            color: var(--color-brand-800);
            margin-bottom: 8px;
        }

        &_last-time {
            font-size: 1rem;
            color: #888;
            margin-bottom: 18px;
        }
    }
}
