@use "sass:color";

.contact-detail {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	background-color: var(--color-main-background);

	.main-header {
		background-color: transparent;
		padding-bottom: 0;
		box-shadow: none;

		&_back-button {
			color: var(--color-page-title);
		}
	}

	&_main-info {
		width: 100%;
		color: var(--color-page-title);

		display: flex;
		flex-direction: column;
		align-items: center;

		.contact-image_container {
			width: 100px;
			height: 100px;
		}

		&_name {
			font-size: 1.7rem;
			font-weight: 700;
			color: var(--color-page-title);
			margin-bottom: 8px;
		}

		&_last-time {
			font-size: 1rem;
			color: #888;
			margin-bottom: 18px;
		}
	}

	&_actions {
		display: grid;
		grid-template-columns: repeat(3, minmax(64px, 150px));
		justify-content: center;
		gap: 8px;
		padding: 2rem 1rem;

		button {			
			display: flex;
			flex-direction: column;
			padding: 8px;
			border-radius: 8px;
			border: solid 1px var(--color-stroke-subtle);			
			background-color: inherit;
			cursor: pointer;
			transition: all ease 0.2s;
			&:hover {
				transform: translateY(-5%);
			}
			> i {
				color: var(--color-button-outline);
			}
		}
	}
}
