@use '../../Styles/variables/media-queries';


.home-screen {
	background-color: var(--color-main-background);
	height: 100dvh;
	display: grid;
	grid-template-rows: auto 1fr;	

	&_contact-list_scroll {
		overflow-y: auto;		
	}

	.main-header {
		display: grid;
		grid-template-columns: auto auto 1fr;	
		justify-items: end;		
	}
}


@media screen and (min-width: 600px) {  
    .home-screen {		
		grid-template-areas: 
		 "sidebar header"
		 "sidebar main";
		grid-template-columns: auto 1fr;		

		.main-header {
		 grid-area: header;
		}
		.main-content {
		  grid-area: main;
		  padding: 0.5rem;
	    }
		.main-nav {
		  grid-area: sidebar;
		  border-right: solid 1px var(--color-stroke-subtle);
	    }
		
		.main-header {
			.theme-toggle {
				display: none;
			}
	    }
	}
}