.chat {    
    height: 100%;
    background-color: var(--color-chat-background);
    display: flex;
    flex-direction: column;
    gap: 16px ;  
    color: black;
    padding: 16px;
    padding-bottom: 120px;
    overflow-y: auto;  
    scrollbar-gutter: stable both-edges; 
}

@media screen and (min-width: 1920px) {
    .message-list {
        gap: 0.83vw;
        padding: 0.83vw;
    }
    button {
        padding-inline: 0.83vw;
    }
}

