@use "../utilities/custom-scrollbar";

html,
body,
#root {
	height: 100vh;
	overflow-y: hidden;
	color: var(--color-main-text);
	font-size: var(--fs-base);
}

//Scrollbar styles
* {
	@include custom-scrollbar.scrollbars(
		6px,
		var(--color-scrollbar-thumb),
		var(--color-stroke-subtle)		
	);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

// Text
p,
span,
a,
li,
label,
button,
input,
textarea,
div {
	font-family: var(--ff-base);
	font-style: normal;
	font-weight: var(--fw-base);
	font-size: var(--fs-base);
	line-height: var(--lh-base);
	color: var(--color-font-base);
}
