@use "../utilities/custom-scrollbar";

html,
body,
#root {    
  height: 100vh;
  background-color: var(--background-color);
  overflow-y: auto;
  color: var(--color-font-base);
}

#root {  
  display: flex;
  justify-content: center;
  align-items: center;
}

//Scrollbar styles
* {
    @include custom-scrollbar.scrollbars(6px, var(--color-neutral-400), var(--color-neutral-200));
}

// Text
p, span, a, li, label, button, input, textarea, div {
    font-family: var(--ff-base);
    font-style: normal;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-font-base);

}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-base);
    font-style: normal;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-font-base);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
