@use "../utilities/custom-scrollbar";

html,
body,
#root {    
  height: 100vh;  
  overflow-y: hidden;
  background-color: var(--color-neutral-200);
  color: var(--color-font-base);
}

//Scrollbar styles
* {
    @include custom-scrollbar.scrollbars(6px, var(--color-neutral-400), var(--color-neutral-200));
}

a {
    text-decoration: none;
}

// Text
p, span, a, li, label, button, input, textarea, div {
    font-family: var(--ff-base);
    font-style: normal;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-font-base);

}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-base);
    font-style: normal;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: var(--lh-base);
    color: var(--color-font-base);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
